.intro {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.text {
  display: grid;
  height: 100%;
}

.about {
  margin-top: 11rem;
}

.link-large {
  font-size: 1.5rem;
  position: relative;
}

.headline-design {
  margin-top: 10rem;
}

.accordion {
  margin-bottom: 3rem;
  border-top: solid var(--color-neutral) 1px;
}

.accordion h3 {
  font-size: 1.3rem;
}

footer {
  margin-top: 4rem;
  height: 10rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-background);
}

footer * {
  color: var(--color-neutral);
}

footer :first-child {
  padding-left: 1rem;
}

footer :last-child {
  padding-right: 1rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .about {
    margin-top: 5rem;
  }

  main {
    margin: 0 1.5rem;
  }

  .link-large {
    font-size: 1.25rem;
    position: relative;
  }

  .section-line {
    border-top: solid 1px var(--color-neutral);
    margin: 5rem auto;
  }

  .headline-design {
    margin-top: 5rem;
  }
}
