.wrapper {
  overflow: hidden;
}

.wrapper a {
  text-decoration: underline var(--color-secondary);
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--color-neutral-grade);
  background-color: var(--color-primary);
  display: grid;
  align-content: center;
  overflow: hidden;
  text-align: center;
}

.name,
.description,
.back {
  position: fixed;
  top: 1rem;
  z-index: 100;
}

.name {
  left: 1rem;
}

.description {
  right: 1rem;
}

.back {
  left: 50%;
  transform: translateX(-50%);
}

.title {
  font-size: 7.5rem;
  line-height: 8rem;
}

.impressum-h2,
.impressum-h3,
.impressum-h4 {
  margin: 2rem 0;
}

.impressum-h2 {
  font-size: 2rem;
}

.impressum-h3 {
  font-size: 1.4rem;
}

.impressum-h4 {
  font-size: 0.8rem;
}

.impressum {
  margin-top: 11rem;
}

@media screen and (max-width: 900px) {
  /* HEADER */
  .name,
  .description {
    font-size: 0.5rem;
  }

  .back {
    top: 3rem;
  }

  .header-text {
    display: grid;
    align-self: center;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
