.app {
  background-color: var(--color-background);
  overflow: hidden;
}

.app-header {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--color-neutral-grade);
  background-color: var(--color-primary);
  display: grid;
  align-content: center;
}

.header-text {
  display: grid;
  align-self: center;
  margin: 0 20%;
  text-align: center;
  gap: 3rem;
  transform: translateY(-1.2rem);
}

.preline-title {
  font-size: 1.5rem;
  letter-spacing: 1.4rem;
}

.title {
  font-size: 7.5rem;
  line-height: 8rem;
}

.image-left,
.image-right {
  position: absolute;
  width: 700px;
  margin: auto;
  display: grid;
  align-self: center;
  top: 100px;
  left: 0;
  right: 0;
}

.image-left {
  animation-name: spin-left;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.image-right {
  animation-name: spin-right;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin-left {
  0% {
    transform: translateX(-175px) rotate(0deg);
    filter: blur(0.5rem);
  }

  50% {
    transform: translateX(-175px) rotate(180deg);
    filter: blur(10rem);
  }

  100% {
    transform: translateX(-175px) rotate(360deg);
    filter: blur(0.5rem);
  }
}

@keyframes spin-right {
  0% {
    transform: translateX(175px) rotate(0deg);
    filter: blur(0.5rem);
  }

  50% {
    transform: translateX(175px) rotate(180deg);
    filter: blur(10rem);
  }

  100% {
    transform: translateX(175px) rotate(360deg);
    filter: blur(0.5rem);
  }
}

.intro {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.contact-bar {
  position: fixed;
  bottom: 1.5rem;
  width: 20rem;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 100;
}

main {
  max-width: 62.5rem;
  margin: auto;
}

.text {
  display: grid;
  height: 100%;
}

.line-wrapper {
  display: grid;
  justify-content: center;
}

.section-line {
  width: 80rem;
  border-top: solid 1px var(--color-neutral);
  margin: 11rem auto;
}

.about {
  margin-top: 11rem;
}

.link-large {
  font-size: 1.5rem;
  position: relative;
}

.headline-design {
  margin-top: 10rem;
}

.accordion {
  margin-bottom: 3rem;
  border-top: solid var(--color-neutral) 1px;
}

.accordion h3 {
  font-size: 1.3rem;
}

footer {
  margin-top: 4rem;
  background-color: var(--color-primary);
  height: 10rem;
}
