.station {
  border-bottom: solid var(--color-neutral) 1px;
  padding: 1rem 0;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.station:hover {
  background-color: var(--color-neutral-grade);
}

.station:hover h3 {
  color: var(--color-secondary);
}

.header {
  display: grid;
  grid-template-columns: 25% 65% max-content;
  gap: 1.5rem;
}

.header :first-child {
  padding-left: 1rem;
}

.header:focus {
  color: var(--color-secondary);
}

.additional {
  font-weight: 500;
}

.untoggle :first-child,
.toggle :first-child {
  font-weight: 500;
  margin: 0.75rem 0;
}

.untoggle {
  overflow: hidden;
  transition: height 0.2s ease;
}

.toggle {
  transition: height 0.4s ease;
}

.untoggle p {
  opacity: 0;
  transition: 1s ease;
  padding-left: 1rem;
}

.toggle p {
  opacity: 1;
  transition: 1s ease;
  max-width: 90%;
  padding-left: 1rem;
}

.toggle .additional {
  opacity: 0.7;
}

.job {
  display: flex;
}

.position {
  opacity: 0.7;
}

.arrow_toggled,
.arrow_untoggled {
  justify-self: center;
  color: var(--color-secondary);
  transition: 0.4s ease;
}

.arrow_untoggled {
  transform: rotate(0.25turn);
}

.arrow_toggled {
  transform: rotate(0.75turn);
}

@media screen and (max-width: 900px) {
  .header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content fit-content;
    gap: 0;
  }

  .header :first-child {
    padding-left: 0;
  }

  .job {
    display: grid;
  }

  .arrow_toggled,
  .arrow_untoggled {
    display: none;
  }

  .untoggle p,
  .toggle p {
    padding-left: 0;
  }

  .station:hover {
    background-color: var(--color-background);
  }
}
